.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.heading{
    display: flex;
    align-items: center;
}

.list-links{
    display: flex;
    align-items: center;
}

.list-links ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

